body {
  padding-top: 56px;
  
  background-image: linear-gradient( rgb(160, 218, 255), rgb(160, 218, 255));
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(232, 65, 67);
}

ul.topnav li {
  float: none;
  display: inline-block;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 65px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: rgb(160,218,255);}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
.carousel-inner { background-color: none;}
 
.small-box{ height:40px;}

.card-img-top { height: 400px;
width: 467px;
align-items: center;}
#card-body {width: 400px;}
.row {width: 1500px; }